<section class="maincontainer">
<section class="mainheading">
    Key Vault Manager
</section>
<section class="mainrows">
    Client Id:
    <input id="txtClientId" type="text" class="inputtext">
</section>
<section class="mainrows">
    Client Secret:
    <input id="txtClientSecret" type="text" class="inputtext">
</section>
<section class="mainrows">
    Key Vault:
    <input id="txtKeyVault" type="text" class="inputtext">
</section>
<section class="mainrows">
    <button id="btnConnect" class="mainbutton" (click)="Connect">Connect</button>
</section>
<section class="mainrows">
    Input:
    <input id="txtInput" type="text" class="inputtext">
</section>
<section class="mainrows">
    Output:
    <input id="txtOutput" type="text" class="inputtext">
</section>
<section class="mainrows">
    <button id="btnGet" class="mainbutton" (click)="GetSecrets()" >Get</button>
</section>
<section class="mainrows">
    <label id="lblStatus" class="statuslable"></label>
</section>
</section>